/**
 * Typographie responsive (Mobile First)
   ========================================================================
 *
 * @author Prénom Nom courriel
 *
 * TABLE DES MATIÈRES
 * Polices
 * Base décimale
 * Hiérarchie responsive
 */


/** Polices **/

/*Import des fonts*/

@font-face {
    font-family: 'strasuaregular';
    src: url('../font/strasua/strasua-webfont.woff2') format('woff2'),
        url('../font/strasua/strasua-webfont.woff') format('woff'),
        url('../font/strasua/strasua.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Barlow';
}

.h1 {
    margin: 0;
    line-height: 0;
    font-family: 'strasuaregular';
    font-size: 15vw;
    -webkit-text-stroke: 0.1px black;
    -webkit-text-fill-color: white;
}

@media (min-width:800px) {
    .h1 {
        font-size: 10vw;
    }
}

.h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 6vw;
    line-height: 0;
    padding-left: 0.3em;
    color: white;
    text-shadow: 2px 2px 10px #000;
    position: relative;
}

@media (min-width:800px) {
    .h2 {
        font-size: 4.5vw;
    }
}

.h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size:7vw;
    line-height: 0;
    color: black;
}

@media (min-width:800px) {
    .h3 {
        font-size: 4vw;
    }
}

.h4 {
    font-family: 'strasuaregular';
    margin-bottom: 10px;
    font-size: 3vw;
}

.text_artiste, .texte_artiste_droite {
    color: white;
    z-index: 2;
    padding: 1em;
    margin: 0;
    font-weight: 300;
    line-height: 1.3;
}

.text-presentation {
    line-height: 1.3;
    font-weight: 600;
}



.h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    font-size: 3.6rem;
}

.h6 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    font-size: 2.2rem;
}

.souce-articles, .source-images {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
}

/** Base décimale **/
html {
    font-size: 62.5%;
}

body {

    /* 16px pour toutes les largeurs d'écran */
    font-size: 1.6rem;
    /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
    line-height: 1.375;
}

@media (min-width: 600px) {
    body {
        line-height: 1.5;
    }
}

@media (min-width: 800px) {
    body {
        line-height: 1.75;
    }
}


/* Hiérarchie responsive : plus proche = plus petit  &  plus loin = plus grand */





/* h4,
.h4 { /* = 16px */
/* font-size: 1.6rem;
}
@media (min-width: 600px) {
    h4,
    .h4 { /* = 18px */
/* font-size: 1.8rem;
    }
}

@media (min-width: 800px) {
    h4,
    .h4 { /* = 22px */
/* font-size: 2.2rem;
    }
} */